#content {
  padding: 48px 0px;
}

#toDo {
  padding: 12px 12px;
}

#addToDo {
  padding-bottom: 16px;
}

label.form-check-label {
  margin: 0px 12px 0px 2px;
}

button.btn-outline-success {
  margin-right: 16px;
}

.buttons {
  margin-top: 24px;
  display: flex;
}

button.btn-buttons {
  margin: 0px 4px;
}